@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  min-height : 1200px;
}

.title{
  font-weight : 700;
  font-size : 2rem;
  color : #fbf8f9;
}

.title-small{
  font-size : 1rem;
}

.header-color {
  background-color : #16803b;
}
.bg-muted{
  background-color : #f4f4f5;
}
.text-muted{
  color:#6e6e77;
}
.bg-footer {
  background-color : #f4f4f5;
  color : #6e6e77;
  
}