@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  min-height : 100vh;
}

.title{
  font-weight : 700;
  font-size : 2rem;
  color : #fbf8f9;
}

.title-small{
  font-size : 1rem;
}

.header-color {
  background-color : #16803b;
}